{% extends 'vaccine/homebase.html' %}



{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h2 class="display-4" style="text-align:center;">Hello, District Admin</h2>
  <p class="lead">Welcome to Vaccines Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/districtsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/districtlogin" role="button">Login</a>
    
  </p>
</div>

{% endblock content %}
